
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  padding-bottom: 23px;

  h1 {
    line-height: 0;
  }

  .logo {
    height: 32px;
  }

  .menu {
    position: absolute;
    top: 60px;
    left: 0;
    background: #3A3054;
    border-radius: 10px;
    color: #FFFFFF;
    width: 100%;
    padding: 40px 24px;
    opacity: 0;
    max-height: 0;
    transition: 0.5s;
    outline: none;
    z-index: 1;

    &.open {
      transform: translateY(0);
      opacity: 1;
      max-height: 1000px;
    }

    .menuList {
      display: grid;
      grid-gap: 30px;
      text-align: center;
      list-style: none;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid rgba(158, 154, 168, 0.25);

      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
      }
    }

    .signUpButton {
      background: #2BD0D0;
      border-radius: 28px;
      font-weight: bold;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
      border: 0;
      width: 100%;
      height: 48px;
    }
  }

  .menuButton {
    border: 0;
    background: transparent;
    cursor: pointer;
  }
}
