@import "styles/utils";

.shortenItForm {
  display: grid;
  grid-gap: 16px;
  background: #3A3054 url("/img/bg-shorten-mobile.svg") no-repeat;
  background-position: top right;
  border-radius: 10px;
  padding: 24px;

  @include media(">desktop") {
    display: flex;
    padding: 52px 64px;
    background: #3A3054 url("/img/bg-shorten-desktop.svg") no-repeat;
  }

  .inputWrapper {
    position: relative;

    @include media(">desktop") {
      flex: 1;
    }

    .shortenItInput {
      border: 0;
      border-radius: 5px;
      width: 100%;
      max-width: initial;
      height: 48px;
      font-weight: normal;
      font-size: 16px;
      line-height: 36px;
      letter-spacing: 0.12px;
      color: rgba(52, 49, 61, 0.5);
      padding: 6px 16px;
      outline: none;

      @include media(">desktop") {
        height: 64px;
        border-radius: 10px;
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0.15px;
        padding: 14px 32px;
      }

      &.error {
        font-style: normal;
        font-size: 16px;
        line-height: 36px;
        letter-spacing: 0.12px;
        color: rgba(244, 99, 99, 0.5);
        border: 3px solid #F46363;

        @include media(">desktop") {
          font-size: 20px;
          line-height: 36px;
          letter-spacing: 0.15px;
        }

        &::placeholder {
          color: inherit;
        }
      }
    }

    .errorMessage {
      font-style: italic;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.0818182px;
      color: #F46363;
      margin-top: 4px;
      text-align: left;

      @include media(">desktop") {
        position: absolute;
        left: 0;
      }
    }
  }

  .buttonWrapper {
    width: 100%;

    @include media(">desktop") {
      width: initial;

      > button {
        height: 100%;
        border-radius: 10px;
      }
    }
  }
}
