@import "styles/utils";

.featureSection {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;

  > div {
    position: relative;
  }

  .shortenItFormWrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    width: 100%;
    min-width: 327px;
  }

  .shortenLinkCardContainer {
    display: grid;
    grid-gap: 24px;
    margin-top: 24px;

    @include media(">desktop") {
      grid-gap: 16px;
    }
  }

  .title {
    font-weight: bold;
    font-size: 28px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.7px;
    color: #34313D;
    margin-top: 80px;
    margin-bottom: 16px;

    @include media(">desktop") {
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -1px;
      margin-bottom: 18px;
    }
  }

  .descriptionWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .description {
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      letter-spacing: 0.109091px;
      color: #9E9AA8;
      margin-bottom: 92px;
      max-width: 540px;

      @include media(">desktop") {
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.122727px;
      }
    }
  }

  .featureCardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 92px;

    @include media(">desktop") {
      flex-direction: row;
      grid-gap: 30px;
      margin-bottom: 120px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      background: #2BD0D0;
      width: 8px;
      height: 100%;

      @include media(">desktop") {
        top: 50%;
        left: 50%;
        width: 100%;
        height: 8px;
      }
    }
  }
}
