@import "styles/utils";

.footer {
  background: #232127;
  padding-top: 54px;
  padding-bottom: 56px;
  color: #FFFFFF;

  .content {
    text-align: center;

    @include media(">desktop") {
      display: flex;
      align-items: flex-start;
      text-align: left;
    }
  }

  .logoWrapper {
    @include media(">desktop") {
      flex: 1;
    }

    .logo {
      height: 33px;
      margin-bottom: 50px;

      path {
        fill: #FFFFFF;
      }
    }
  }

  .sitemapList {
    list-style: none;
    display: grid;
    grid-gap: 40px;

    @include media(">desktop") {
      display: flex;
      grid-gap: 110px;
    }

    .sitemapItem {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.25px;
    }

    .linkList {
      list-style: none;
      margin-top: 22px;
      display: grid;
      grid-gap: 10px;

      .linkItem {
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: -0.234375px;
        color: #BFBFBF;

        a {
          @include media(">desktop") {
            transition: 0.3s;

            &:hover {
              color: #2BD0D0;
            }
          }
        }
      }
    }
  }

  .socialList {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 24px;
    margin-top: 48px;

    @include media(">desktop") {
      margin-top: 0;
      margin-left: 101px;

      svg path {
        transition: 0.3s;
      }

      a:hover {
        svg path {
            fill: #2BD0D0;
        }
      }
    }
  }
}
