.ctaSection {
  text-align: center;
  padding: 90px 0;
  background: #3A3054 url("/img/bg-boost-mobile.svg") no-repeat;
  background-size: cover;

  .title {
    font-weight: bold;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: -0.7px;
    color: #FFFFFF;
    margin-bottom: 16px;
  }
}
