@import "styles/utils";

.featureCard {
  position: relative;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 72px 32px 32px;
  max-width: 327px;
  min-height: 267px;
  text-align: center;

  @include media(">desktop") {
    width: 350px;
    max-width: 350px;
    text-align: left;
    padding-top: 77px;

    &:nth-child(2) {
      top: 44px;
    }

    &:nth-child(3) {
      top: 88px;
    }
  }

  .iconWrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 88px;
    height: 88px;
    background: #3A3054;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media(">desktop") {
      top: 0;
      left: 32px;
      transform: translateY(-50%) translateX(0);
    }
  }

  .title {
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    color: #34313D;
    margin-bottom: 12px;
  }

  .description {
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #9E9AA8;
  }
}
